# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Python / PySpark caches
__pycache__/
*.pyc
.ipynb_checkpoints/
data/processed/

# Docker / Logs
*.log
# Mac/OSX
.DS_Store
*.DS_Store

# Local Spark Warehouse
spark-warehouse/
derby.log
metastore_db/
terraform.tfvars
*.tfvars

